/*************
Side nav section
*************/
td, th {
    vertical-align: middle !important;
    }
.left, .right {
        float:left;
        height:100vh;
    }
    
.left {
        background: #337ab7;
        display: inline-block;
        white-space: nowrap;
        width: 50px;
        transition: width 1s ;
    }

.right {
        background: #fff;
        width: 350px;
        transition: width 1s;
        border-style:solid;
        border-color:#ccc;
        border-width:1px;
    }    

.left:hover {
        width: 250px;
    }    
    
.item:hover {
        background-color:#7d98fc;
        }
        
.left .fa {
        margin:20px;
        width:20px;
        color:#fff;
    }
    
.right .fa {
        color:#a9a9a9;
    }
span.glyphicon.glyphicon-refresh{
    font-size:17px;
    vertical-align: middle !important;
    }
    
.item {
        height:50px;
        overflow:hidden;
        color:#fff;
    }

.item.active{
    background-color: #7d98fc;
}
.title {
        background-color:#eee;
        border-style:solid;
        border-color:#ccc;
        border-width:1px;
        box-sizing: border-box;
    }
.search:hover {
        border-color:#4aa9fb;
        border-width:1px;
    }
.search {
    padding:3px 8px 3px !important;
    }
input[type=search] {
    padding: 10px 0px 10px;
    border: 0px solid #fff;
    background: #eee;
    -webkit-appearance: none;
    width:90%;
    float:none;
}
input[type=search]:focus {
    outline:none;
    }
.type{
    height: 47px;;
    }
.date{
    background-color:#f7f7f7
    }
.docdate {
    vertical-align:bottom !important;
    }
.distr {
    margin: 0 0 5px;
    font-size: 12px;
    }
.ndoc {
    margin: 0 0 5px;
    }
.storage {
    margin: 0;
    color: #aaa !important;
    font-size: 12px;
    }

.johngold-sidenav .item span{
    font-size: 13px;
}

.johngold-sidenav .item span{
    font-size: 15px;
}

.johngold-sidenav a{
    color: #fff;
    text-decoration: none;
}

.johngold-sidenav-right{
    width: 200px;
}

.johngold-profile{
    width: 100%;
    height: 150px;
}

.johngold-profile a{
    font-size: 14px;
    text-align: center;
}

.johngold-profile img{
    width: 100%;
}

.johngold-profile .johngold-profile-pic{
    position: relative;
    width: 50px;
    height: 50px;
    margin-top: -100px;
    margin-left: 20px;
}

.johngold-profile .johngold-profile-pic img{
    border: solid 3px #337ab7;
}

.ol_stat{
    padding: 5px;
    width: 15px;
    height: 15px;
    display: block;
    border-radius: 55px;
    float: left;
}

.johngold-profile .johngold-profile-info{
    position: relative;
    background-color: rgba(0,0,0, 0.5);
    text-align: center;
    height: 40px;
    width: 100%;
    color: #fff;
    padding: 5%;
    margin-top: 10px;
}
/*************************
Panel list
**************************/
.johngold-minipanels .johngold-minipanels-body{
    width: 100%;
    height: 50px;
    box-shadow: 1px 1px 3px #888888;
    border-radius: 5px;
    margin-bottom: 10px;
}

.johngold-minipanels .johngold-minipanels-body .johngold-minipanels-body-confirm{
    float: right;
    width: 15%;
    height: 100%;
    padding: 10px 0;
    background-color: #00ff04;
    text-align: center;
}

.johngold-minipanels .johngold-minipanels-body .johngold-minipanels-body-confirm:hover{
    background-color: #55fb58;
}

.johngold-minipanels .johngold-minipanels-body .johngold-minipanels-body-left{
    text-align: center;
    float: left;
    width: 70%;
    height: 100%;
    padding: 10px;
    border-radius: 5px;
}
.johngold-minipanels .johngold-minipanels-body .johngold-minipanels-body-left p{
    font-size: 8px;
    line-height: 8px;
    color: #000;
}


.johngold-minipanels .johngold-minipanels-body .johngold-minipanels-body-right{
    float: right;
    width: 15%;
    height: 100%;
    padding: 10px 0;
    background-color: #337ab7;
    text-align: center;
}

.johngold-minipanels .johngold-minipanels-body .johngold-minipanels-body-right:hover{
    background-color: #3c93de;
}
.johngold-minipanels .johngold-minipanels-body a.johngold-minipanels-body-right-a{
    width: 20%;
    height: 100%;
    font-size: 20px;
    color: #fff;
}

.johngold-minipanels .johngold-minipanels-body .johngold-minipanels-body-right-delete{
    float: right;
    width: 15%;
    height: 100%;
    padding: 10px 0;
    background-color: #e50202;
    text-align: center;
    border-radius: 0 5px 5px 0;
}

.johngold-minipanels .johngold-minipanels-body .johngold-minipanels-body-right-delete:hover{
    
    background-color: #ff1818;
}

.modal-header{
    display: block;
}
.modal-header .modal-title{
    float: left;
}

@media (min-width: 768px){
.form-horizontal .control-label {
    padding-top: 7px;
    margin-bottom: 0;
    text-align: left;
}}

textarea.form-control{
    height: 150px;
}

section.login{
    width: 100%;
    height: 645px;
    background-image: url("../img/pexels-photo-690772.jpeg");
    background-repeat: no-repeat;
}

.jg-login-container{
    width: 100%;
}

.jg-login-container-body{
    border: 1px solid #aaa;
    background-color: #fff;
    width: 450px;
    display: block;
    margin: auto;
    margin-top: 160px;
    padding: 50px;
    border-radius: 25px;
}

.jg-signup-container-body{
    border: 1px solid #aaa;
    background-color: #fff;
    width: 450px;
    display: block;
    margin: auto;
    margin-top: 50px;
    padding: 50px;
    border-radius: 25px;
}

.jg-color-blue{
    color: #337ab7;
}

/*Panel tabs*/
.panel-tabs {
    position: relative;
    bottom: 30px;
    clear:both;
    border-bottom: 1px solid transparent;
}

.panel-tabs > li {
    float: left;
    margin-bottom: -1px;
}

.panel-tabs > li > a {
    margin-right: 2px;
    margin-top: 5px;
    line-height: .85;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    color: #000;
}


.panel-tabs > li.active > a,
.panel-tabs > li.active > a:hover,
.panel-tabs > li.active > a:focus {
    color: #000;
    cursor: default;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-color: rgba(255,255,255, .23);
    border-bottom-color: transparent;
}

#jg-admin-msg{
    height: 300px;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 10px;
}

.jg-staff-img{
    width: 150px;
    height: 150px;
}

.get_available_chat{
    width: 50px;
    overflow: auto;
}

/******
Chat
******/

.jg-chat-msg-right{
    position: inherit;
    float: right;
    border: 1px solid #fed136;
    border-radius: 15px;
    display: block;
    max-width: 200px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.jg-chat-msg-right .jg-chat-msg{
    position: inherit;
    padding: 10px;
    text-align: left;
    word-break: break-all;
}


.jg-chat-msg-left{
    position: inherit;
    float: left;
    border: 1px solid #ddd;
    border-radius: 15px;
    display: block;
    max-width: 200px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.jg-chat-msg-left .jg-chat-msg{
    position: inherit;
    padding: 10px;
    text-align: left;
    word-break: break-all;
}
.jg-chat-time{
    position: inherit;
    display: block;
    width: 100%;
    text-align: center;
    color: #bdbdbd;
}

#jg-admin-msg{
    overflow-x: hidden;
}
.primary-color{
    background-color: #fed136;
}

.default-color{
    background-color: #fff;
}

.pull-right{
    height: 5px;
}
.jg-user-list{
    height: 50px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.jg-user-list:hover{
    background-color: #337ab7;
    color: #fff;
}
a.jg-user-list-a:hover, a.jg-user-list-a:focus{
    text-decoration: none;
}
.jg-user-list img{
    width: 50px;
    height: 48px;
    padding: 5px;
}

.jg-user-list b{
    padding: 0 10px;
}

blockquote.jg-chat-container{
    font-size: 10px;
}

.collapse.show{
    max-height: 250px;
    overflow-x: hidden; 
}

.panel-body{
    max-height: 500px;
    overflow: auto;
}

.jg-margin-bot{
    margin-bottom: 15px;
}